<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2fDtLBisQctCMJZ6AGCHo-Slf4jZvAK0</string>
	<key>GCM_SENDER_ID</key>
	<string>133722923116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houseRentalApp</string>
	<key>PROJECT_ID</key>
	<string>house-rental-app-c34dd</string>
	<key>STORAGE_BUCKET</key>
	<string>house-rental-app-c34dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133722923116:ios:9e8b35fa3d5e027d0c7849</string>
</dict>
</plist>